@font-face {font-family: 'Maplestory Light'; font-style: normal; font-weight: 300; src: url(../font/Maplestory\ Light.ttf);}
@font-face {font-family: 'Maplestory Bold'; font-style: normal; font-weight: 300; src: url(../font/Maplestory\ Bold.ttf);}
*{font-family: 'Maplestory Light'; font-style: normal;}
.wrap{width: 720px; max-height: 100%; margin: 0 auto;}
.cloud{background-color: #000; opacity: 70%; width:100%; height: 100%; position: fixed; top: 0; left: 0; z-index: 9999; text-align: center;}
.cloud > .startcnt{ font-size: 164px; color: #fff; display: flex; justify-content: center; align-items: center; height: 100%; width: 100%; }
/* .divwrap{position: fixed; background: url(../Img/mainbg.png) no-repeat top center/cover; width: 100%; height: 100%;} */
.divwrap{position: fixed; background:#fff; width: 100%; max-width: 720px;}

.createloc{ display: flex; flex-wrap: wrap-reverse; width:106px; margin: 0 auto; overflow: hidden; height: 600px;}
.standard0{ background: #ff4081; width: 86px; height:86px; margin: -30px 0 0 0; border-radius:50%;}
.standard1{ background: #2962ff; width: 86px; height:86px; margin: -30px 0 0 0; border-radius:50%;}

.createloc :nth-child(10) {opacity: 0;}
.createloc :nth-child(1) {z-index: 11;}
.createloc :nth-child(2) {z-index: 10; transform: scale(0.95); margin-top:-35px;}
.createloc :nth-child(3) {z-index:9; transform: scale(0.9); margin-top:-39px;}
.createloc :nth-child(4) {z-index:8; transform: scale(0.8); margin-top:-50px;}
.createloc :nth-child(5) {z-index:7; transform: scale(0.75); margin-top:-56px;}
.createloc :nth-child(6) {z-index:6; transform: scale(0.67); margin-top:-67px;}
.createloc :nth-child(7) {z-index:5; transform: scale(0.59); margin-top:-75px;}
.createloc :nth-child(8) {z-index:4; transform: scale(0.54); margin-top:-75px;}
.createloc :nth-child(9) {z-index:3; transform: scale(0.5); margin-top:-85px;}


.classcomp {position: relative; width: 100%; display: flex; flex-wrap: wrap; justify-content: space-around; max-width: 720px; margin: 60px 0 -50px 0;}
.classcomp .standard2{ background: #ff4081; width: 26px; height: 26px; border-radius:50%;}
.classcomp .standard3{ background: #2962ff; width: 26px; height: 26px; border-radius:50%;}

.dlasscoma {position: relative; width: 100%; display: flex; flex-wrap: wrap; justify-content: space-evenly; max-width: 720px;}
.dlasscoma .left_arrow { background: url(../Img/left_arrow.png) no-repeat top center/cover; width: 76px; height: 76px;}
.dlasscoma .right_arrow { background: url(../Img/right_arrow.png) no-repeat top center/cover; width: 76px; height: 76px;}

.score{position: absolute; top: 15px; left: calc(20% - 80px); width: 160px; height: 80px; color: #33691e; text-align: center;}
.score p{font-size: 25px; }
.timer{ width: 100%; height: 80px; color: #1b5e20; text-align: center; display: flex; margin: 64px 0 0 0; justify-content: center;}
.timer p{font-size: 45px; }
.combo{font-family: 'Maplestory Bold'; font-style: normal; width: 720px; height: 100px; text-align: center; font-size: 55px; color: #F3E9C6; text-shadow: -1px 0 #1f0a43, 0 1px #1f0a43, 1px 0 #1f0a43, 0 -1px #1f0a43; display: flex; justify-content: center; align-items: center; position: absolute; z-index: 20; margin: 170px 0 0 0;}

.gameendmessage{z-index: 99; display: none; position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; background-color: #222; opacity: 85%; text-align: center; justify-content: center; align-items: center;}
.gameendmessage_btn{ width: 320px; height: 100px; font-size: 72px; text-shadow: -4px 0 #fff, 0 4px #fff, 4px 0 #fff, 0 -4px #fff;}
.gameendmessage_max{ width: 320px; height: 100px; font-size: 72px; text-shadow: -4px 0 #fff, 0 4px #fff, 4px 0 #fff, 0 -4px #fff; color:#d71b93;}
.gameendmessage_score{ width: 320px; height: 100px; font-size: 72px; text-shadow: -4px 0 #fff, 0 4px #fff, 4px 0 #fff, 0 -4px #fff; color:#d71b93;}
